# tmpdir
tmp

############
# Wildfire #
############

# PREP_PGD
CFIRE02KM.*

# PREP_GFS
GFS20190711.??.*

# MNH
TEST1.1.S1234.???.*
OUTPUT_LISTING?

# extract
fire_input.nc
weather_output.nc

# WFA
test_LOG_*.txt
test_*.tif
*_Best_Conditions.json
test_Fire*_*.tif

# WFA post
*.png
*.wld
*.png.aux.xml
*.kmz

#################
# Space weather #
#################
GEM3D_4species_*.vtk*
SimulationData.txt*
ConservedQuantities.txt*
restart*.hdf*
settings.hdf*
